<div class="container text-center">
  <h2>CARTELERA</h2>
    <div class="micard">
     
        <div (click)="pelicula(peli.id)" class="card1" *ngFor="let peli of peliculas">
          <img [src]=" peli | peliculaImagen" class="card-img" [alt]="peli.title">
          <div class="card-body">
            <h5 class="card-title">{{peli.title}}</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        
       
      </div>
     
</div>
<div class="container text-center">
  <h2>POPULARES</h2>
    <div class="micard">
     
        <div class="card1" *ngFor="let peli of peliculas2">
          <img [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2'+ peli.poster_path" class="card-img" [alt]="peli.title">
          <div class="card-body">
            <h5 class="card-title">{{peli.title}}</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        
       
      </div>
     
</div>

